body{
    background-color: #ffe3f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.cadru{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spatiu{
    margin-top: 2%;
    padding: 2%;
}
.buton{
    margin-top: 5%;
    margin-bottom: 5%;
}
.text{
    font-family: 'Georgia';
    font-size: 100%;
}
fieldset{
    margin-top: 5%;
}